@page
@model WebApp.Pages.Proveedor.EditModel
@{
}

<div class="card">
    <div class="card-header">
        Proveedores
    </div>
    <div class="card-body">
        <h5 class="card-title">Proveedores</h5>
        
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
.